:host {
    width: 100%;
    height: 10%;

    display: flex;
}

#vehicles {
    width: 100%;
    position: relative;
}

#diagram {
    width: 100%;
}

#diagram #axis {
    width: 100%;
    height: 50px;

    background: lightgray;
}

#diagram #marker {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.vehicle {
    

    cursor: pointer;
    
    position: absolute;
    top: 0;

    height: 50px;
    width: 10px;

    background-color: lightgreen;
    color: white;
}