<div class="wrapper">
  <div class="headline">
    <h1>Concept Reply Challenge - UI</h1>
  </div>

  <div class="content">

    <div class="left content-item">
      <div routerLink="home" routerLinkActive="active-route">Home</div>
      <div routerLink="users" routerLinkActive="active-route">Users</div>
      <div routerLink="vehicles" routerLinkActive="active-route">Vehicles</div>
    </div>

    <div class="right content-item">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
